<aside class="sidebar">
  <div class="sidebar-container">

    {% include "../header/header.njk" %}
    {% include "../nav/nav.njk" %}

  </div>

  {% include "../customize/customize.njk" %}

</aside>
<div class="sidebar-overlay" id="sidebar-overlay" data-component="overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
