<div class="header-block header-block-nav">
	<ul class="nav-profile">

		<!-- Notifications Dropdown -->
    {% include "notifications/notifications.njk" %}

		<!-- Profile Dropdown -->
    {% include "profile/profile.njk" %}

	</ul>
</div>
