.main-wrapper {
	width: 100%;
	position: absolute;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

#ref {
	.color-primary {
		color: $color-primary;
	}

	.chart {
		.color-primary {
			color: $chart-color-primary;
		}
		.color-secondary {
			color: $chart-color-secondary;
		}
	}
}
